{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	


{% endfor %}


{% if name %}
	<h1>Update User!</h1>
	<br/>
	<table class="table table-hover table-bordered table-striped">
{% for our_user in our_users %}
	<tr>
	<td>
	{{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }} -
	{{ our_user.favorite_color }}
	</td>
	</tr>
{% endfor %}
</table>

{% else %}

	<h1>Update User...</h1>
	<br/>
<!-- Down here put the form itself -->
<div class="shadow p-3 mb-k bg-light rounded">
	<form action="{{url_for('update', id=name_to_update.id)}}" method='Post'>
		{{ form.hidden_tag()}} <!-- this creates CSRF token -->

		{{ form.name.label(
		class="form-label") }} <!-- this is the label from the server file line 13 -->
		
		{{ form.name(
		class="form-control", value=name_to_update.name) }}
		<br/>
		{{ form.username.label(
		class="form-label") }} <!-- this is the label from the server file line 13 -->
		
		{{ form.username(
		class="form-control", value=name_to_update.username) }}
		<br/>
		{{ form.email.label(
		class="form-label") }} <!-- this is the label from the server file line 13 -->
		
		{{ form.email(
		class="form-control", value=name_to_update.email) }}

		<br/>
		{{ form.favorite_color.label(
		class="form-label") }} <!-- this is the label from the server file line 13 -->
		
		{{ form.favorite_color(
		class="form-control", value=name_to_update.favorite_color) }}

		<br/>

		{{ form.submit(
		class="btn btn-secondary") }} <!-- this is a submit button -->
		<a href="{{ url_for('delete', id=name_to_update.id)}}" class="btn btn-outline-danger"> Delete </a>
	</form>
</div>
<br/><br/>



{% endif %}
{% endblock %}